{% extends 'base.html' %}
{% block title %}
    Detalle de habitacion
{% endblock  %}
{% block body %}
<h1>--> {{ object }}</h1>
<br>
<p>
    Numero de habitacion --->
    {{ object.numero }}
</p>
<br>
<p>
    Tipo de habitacion --->
    {{ object.tipo }}
</p>
<br>
<p>
    Estado de la habitacion --->
    {% if object.estado %}
    Esta ocupado
    {% endif %}
</p>
<br>
{% endblock %}
{% block descrip %}
<section class="descrip">
    <article>
        <p>
            Descripción:
        </p>
        {{ object.descripcion }}
    </article>
</section>
{% endblock %}
