{% extends 'base.html' %}
{% block title %}
    Detalle de habitacion
{% endblock  %}
{% block body %}
<h1>Habitacion tipo --> {{ object.tipo }}</h1>
<br>
<table>
    <tr>
        <th>NUMERO</th>
        <th>------</th>
        <th>TIEMPO</th>
        <th>------</th>
        <th>SERVICIOS</th>
    </tr>
    <tr></tr>
    <tr>
        <th>{{ object.numero }}</th>
        <th>------</th>
        <th>{{ object.dias }}</th>
        <th>------</th>
        <th>{{ object.servicios }}</th>
    </tr>
</table>
{% endblock %}
