<!DOCTYPE html>
<html>
    <head>
        
        <title>
            {% block title %}
            {% endblock %}
        </title>
    </head>
    <body>
        {% block nav %}
            <ul>
                
                <li><a href = "{% url 'hotel:habitacion-list' %}"> Habitaciones</a></li>
                <li><a href = "{% url 'hotel:clie-adding' %}"> Registrar Cliente</a></li>
                <li><a href = "{% url 'hotel:habi-dispo' %}">Habitaciones Disponibles</a></li>
                <li><a href = "{% url 'hotel:clie-search' %}"> Buscar Cliente</a></li>
            </ul>
        {% endblock %}
        {% block body %}
        {% endblock %}
        {% block footer %}
            <hr>
            <div>
                <h3> DERECHOS DE COPYRIGHT</h3>
            </div>
        {% endblock %}
    </body>
</html>
