*{
    padding: 0;
    margin: 0;
}
h1{
    font-style:courier;
}
body{
    background: url("images/ladrillos.jpg");
}
header, .main, footer{
    width: 98%;
    max-width: 1350px;
    margin: 3px;
}
header nav{
    background: wheat;
    overflow: hidden;
    border:rgb(153, 73, 7) 10px solid;
}
header nav ul{
    list-style-type: none;
}
header nav ul li{
    float: left;
}
header nav ul li a{
    padding: 10px 20px;
    display: block;
    text-decoration: none;
    color:#61210B;
    margin: 20px;
    border:rgb(153, 73, 7) 10px solid;

}
header nav ul li a :hover{
    background-color:#434343;
}
.main .articles{
    width: 45%;
    float: left;
    margin: 1%;
}
.main .articles article{
    color:#61210B;
    padding: 50px;
    background: wheat;
    margin-bottom: 20px;
    border:rgb(153, 73, 7) 10px solid;
}
.main .descrip{
    width: 45%;
    float: right;
    margin: 1%;
}
.main .descrip article{
    color:#61210B;
    padding: 50px;
    background: wheat;
    margin-bottom: 20px;
    border:rgb(153, 73, 7) 10px solid;
}
footer{
    color: #61210B;;
    background: wheat;
    clear: both;
    padding: 2px;
    border:rgb(153, 73, 7) 10px solid;
}




